<h1>Assignments</h1>
<hr>

<table id="users">
    <tr>
        <th *ngFor = "let column of headers">
            {{ column }}
        </th>
    </tr>

    <tr *ngFor = "let x of this.assignments">
        <th>{{ x.id}}</th>
        <th>{{ x.name}}</th>
        <th>{{ x.date_created }}</th>
        <th>{{ x.max_points}}</th>
        <th>{{ x.student_points}}</th>
        <th>{{ x.description }}</th>
        <th>{{ x.file }}</th>
        <th *ngIf="this.auth_service.isStaff">
            <button (click)="delete_me(x.id)">Delete</button>
            <button [routerLink]="['/course',this.courseID,'assignments',x.id,'edit']">Edit</button>
        </th>
    </tr>

</table>
<button *ngIf="this.auth_service.isStaff" [routerLink]="['/course',this.courseID,'assignments','add']">Add Assignment</button>

<button Backbutton>Back</button>