<h1>Tests</h1>
<hr>

<table id="users">
    <tr>
        <th *ngFor="let column of headers">
            {{ column }} 
        </th>
    </tr>
    <tr *ngFor = "let x of this.tests">
        <th>{{ x.id }} </th>
        <th>{{ x.name }}</th>
        <th>{{ x.date_due }}</th>
        <th>{{ x.description }}</th>
        <th>{{ x.max_points }}</th>
        <th>{{ x.student_points }}</th>
        <th>{{ x.file }}</th>
        <th>{{ x.submitter }}</th>
        <th *ngIf="this.authService.isStaff">
            <button (click)="delete_me(x.id)">Delete</button>
            <button [routerLink]="['/course', this.courseID, 'quizzes', x.id, 'edit']">Edit</button>
        </th>
        <th>
            <button [routerLink]="['/course',this.courseID,'quizzes', x.id, 'submit']">Submit</button>
        </th>
    </tr>

</table>
<button *ngIf="this.authService.isStaff" [routerLink]="['/course', this.courseID, 'quizzes', 'add']">Add Test</button>
<button Backbutton>Back</button>