<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="assignmentForm" (ngSubmit)="addAssignment()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Add Assignment </h3>
        <div class="form-group">
            <label>Assignment Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Assignment name" required>
        </div>
        <div class="form-group">
            <label>Max Points</label>
            <input type="number" class="form-control" formControlName="max_points" placeholder="Enter Max Points" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Enter Description" required>
        </div>
        <div class="form-group">
            <label>Date Due</label>
            <input type="datetime-local" class="form-control" formControlName="date_due" placeholder="Enter Assignment Due Date" required>
        </div>
        <div class="form-group">
            <label for="file">Choose File</label>
            <input type="file"  (change)="uploadFile($event)">
        </div>
        <button type="submit" class="btn btn-block btn-primary">Add</button>
    </form>
    <button Backbutton>Back</button>
</div>
