<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="assignmentForm" (ngSubmit)="addAssignment()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Submit Assignment</h3>
        <label>Assignment Name: {{ this.assignment.name }}</label>
        <div class="form-group">            
            <input type="file"  (change)="uploadFile($event)">
        </div>
        <button type="submit" class="btn btn-block btn-primary">Add</button>
    </form>
    <button Backbutton>Back</button>
</div>
