<table id="users">
    <tr>
        <th *ngFor="let column of headers">
            {{ column }} 
        </th>
    </tr>
    <tr *ngFor = "let x of this.tests">
        <th>{{ x.id }} </th>
        <th>{{ x.name }} </th>
        <th>{{ x.date_due }}</th>
        <th>{{ x.description }}</th>
        <th>{{ x.max_points }}</th>
        <th>{{ x.student_points }}</th>
        <th><a href="http//192.168.1.68:8081/{{ x.file }}">Download</a></th>
        <th>{{ x.student_points/x.max_points * 100}} %</th>
    </tr>
    <tr *ngFor = "let y of this.assignments">
        <th>{{ y.id }} </th>
        <th>{{ y.name }}</th>
        <th>{{ y.date_due }}</th>
        <th>{{ y.description }}</th>
        <th>{{ y.max_points }}</th>
        <th>{{ y.student_points }}</th>
        <th><a href="http://192.168.1.68:8081/{{ y.file }}">Download</a></th>
        <th>{{ y.student_points/y.max_points * 100 }} %</th>
    </tr>
    
    
</table>
<table id="users2" >
    <tr>
        <th *ngFor="let column2 of headers2">{{ column2 }}</th>
    </tr>
    <tr>
        <th>{{this.grade_str}}</th>
        <th>{{this.overallGrade_pct}}%</th>
    </tr>
</table>