<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas</title>
</head>
<body>
    <div class="container-flex">
        <div class="sidenav">
            <a [routerLink]="['/course',this.courseID,'assignments']">Assignments</a>
            <a href="#">Lectures</a>
            <a href="#">Students</a>
            <a href="#">Quizzes/Tests</a>
            <a href="#">Discussion</a>
            <a href="#">Grades</a>
            <a [routerLink]="['/profile',this.profileID]">Profile</a>
        </div>
    </div>
    <main>
        <p style="text-align:center;font-size:40px">Course Name: <strong>{{this.currentCourse.name }}</strong></p>
    </main>
    
</body>
</html>